<a href="https://colab.research.google.com/github/Gerenzeo/data_science_module_2/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

1. Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [5]:
data = pd.read_csv("2017_jun_final.csv")

2. Прочитайте отриману таблицю, використовуючи метод head

In [6]:
print(data.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

3. Визначте розмір таблиці за допомогою методу shape

In [8]:
data.shape

(8704, 25)

4. Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [9]:
data.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

5. Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [11]:
print(data.isnull().sum() / len(data) * 100)

N                                    0.000000
Должность                            0.000000
Язык.программирования               44.232537
Специализация                       82.938879
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.113051
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   2.562040
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

6. Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [21]:
data = data.dropna(subset=["Язык.программирования"])
# print(data)

7. Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [23]:
print(data.isnull().sum() / len(data) * 100)

N                                    0.000000
Должность                            0.000000
Язык.программирования                0.000000
Специализация                       99.979398
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.758962
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   0.618047
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.835187
cls                                  0.164813
dtype: float64

8. Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [25]:
data = data.dropna()
print(data)

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

9. Визначте новий розмір таблиці за допомогою методу shape

In [26]:
print(data.shape)

(0, 25)

10. Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [32]:
data = pd.read_csv("2017_jun_final.csv")
python_data = data[data["Язык.программирования"] == "Python"]
print(python_data)

         N                 Должность Язык.программирования Специализация  \
12      13         Software Engineer                Python           NaN
68      69         Software Engineer                Python           NaN
87      88  Junior Software Engineer                Python           NaN
114    115  Junior Software Engineer                Python           NaN
143    144  Junior Software Engineer                Python           NaN
...    ...                       ...                   ...           ...
8546  8547         Software Engineer                Python           NaN
8625  8626         Software Engineer                Python           NaN
8635  8636  Senior Software Engineer                Python           NaN
8673  8674  Junior Software Engineer                Python           NaN
8695  8696         Software Engineer                Python           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12                   1             меньше 3 месяцев               800
68                 1.5                          0.5               900
87                 0.5                          0.5               600
114                1.5                          0.5               685
143                  1                            1               750
...                ...                          ...               ...
8546                 5                            1              2000
8625                 4                            1              1750
8635    10 и более лет             меньше 3 месяцев              4000
8673               0.5                          0.5               350
8695                 1                          0.5              1500

      Изменение.зарплаты.за.12.месяцев      Город     Размер.компании  ...  \
12                                 200       Киев       до 50 человек  ...
68                                 900       Киев       до 10 человек  ...
87                                   0       Киев       до 10 человек  ...
114                                250       Киев     до 1000 человек  ...
143                                250       Киев       до 10 человек  ...
...                                ...        ...                 ...  ...
8546                               800  Запорожье       до 50 человек  ...
8625                                 0       Киев  свыше 1000 человек  ...
8635                              1300   Удаленно       до 10 человек  ...
8673                                50       Киев       до 50 человек  ...
8695                              1000       Киев       до 10 человек  ...

     Еще.студент Уровень.английского         Предметная.область  \
12         False       ниже среднего      Веб-разработка,Другое
68          True       выше среднего             Веб-разработка
87          True       выше среднего   Веб-разработка,eCommerce
114        False             средний                     Другое
143         True       выше среднего             Веб-разработка
...          ...                 ...                        ...
8546       False             средний             Веб-разработка
8625       False             средний             Веб-разработка
8635       False       выше среднего             Веб-разработка
8673       False             средний             Веб-разработка
8695       False             средний  Финансы и банки,eCommerce

          Дата.заполнения                                         User.Agent  \
12    12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
68    12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
87    12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
114   12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
143   12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
...                   ...                                                ...
8546  10/07/2017 14:11:26  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8625  11/07/2017 16:15:40  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8635  11/07/2017 17:51:36  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8673  12/07/2017 09:37:16  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8695  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

       exp current_job_exp salary Валюта  cls
12     1.0             0.0    800    NaN  DEV
68     1.5             0.5    900    NaN  DEV
87     0.5             0.5    600    NaN  DEV
114    1.5             0.5    685    NaN  DEV
143    1.0             1.0    750    NaN  DEV
...    ...             ...    ...    ...  ...
8546   5.0             1.0   2000    NaN  DEV
8625   4.0             1.0   1750    NaN  DEV
8635  10.0             0.0   4000    NaN  DEV
8673   0.5             0.5    350    NaN  DEV
8695   1.0             0.5   1500    NaN  DEV

[207 rows x 25 columns]

11. Визначте розмір таблиці python_data за допомогою методу shape

In [33]:
print(python_data.shape)

(207, 25)

12. Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [39]:
sorted_data = python_data.groupby("Должность").size().reset_index(name='Кількість')
print(sorted_data)

                  Должность  Кількість
0  Junior Software Engineer         63
1  Senior Software Engineer         31
2         Software Engineer        100
3          System Architect          2
4            Technical Lead         11

13. Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [40]:
aggregated_data = python_data.groupby('Должность').agg({"Зарплата.в.месяц": ["min", "max"]}).reset_index()
print(aggregated_data)

                  Должность Зарплата.в.месяц
                                         min   max
0  Junior Software Engineer              100  1250
1  Senior Software Engineer             1300  9200
2         Software Engineer              500  5400
3          System Architect             3000  5000
4            Technical Lead             1425  6200

14. Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [55]:
#
def fill_avg_salary(row):
    return (row["Зарплата.в.месяц"]["min"] + row["Зарплата.в.месяц"]["max"]) / 2


aggregated_data["avg"] = aggregated_data.apply(fill_avg_salary, axis=1)
print(aggregated_data)

                  Должность Зарплата.в.месяц           avg
                                         min   max
0  Junior Software Engineer              100  1250   675.0
1  Senior Software Engineer             1300  9200  5250.0
2         Software Engineer              500  5400  2950.0
3          System Architect             3000  5000  4000.0
4            Technical Lead             1425  6200  3812.5

15. Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [56]:
print(aggregated_data["avg"].describe())

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

16. Збережіть отриману таблицю в CSV файл

In [57]:
aggregated_data.to_csv("new_data_with_avg.csv")